<header class="header">
    <div class="logo">
        <div class="logo-icon"><img src="/logo.png" alt="TalentHub Logo"></div>
    <a href="/" class="logo-text">TalentHub</a>
    </div>
    <div class="header-buttons">
        <a href="/annonces" class="btn btn-primary">Annonces</a>
        <a href="/annonces/create/new" class="btn btn-primary">Déposer annonce</a>
    </div>
</header>